<link href="/css/feedback/feedback.css" rel="stylesheet" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.3.0/mdb.min.js"></script>
<div class="container">
   <a href="/feedback/create">Create</a>
    <a href="/feedback/viewAll">View All</a>
</div>




