<link rel="stylesheet" href="/css/requests/request.css">
<div class="container">
    <div class="remove-employee-from-team-requests-container">
        Remove this employee from my team
    </div>
    <div class="approve-project-requests-container">
        Please approve my project
    </div>
</div>