<html>

<head>
    <title>
    </title>
    <link rel="stylesheet" href="/css/animations.css">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <%- style %>
</head>

<body>

        <main id="layout-main">
            <%- body %>
        </main>
            <%- script %>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/js/home.js"></script>
<script src="/js/privateToDo.js"></script>
</body>
</html>