.change-color-to-grey{
    background-color: rgb(207, 203, 203);
}
.change-color-to-white{
    background-color: white;
}

.display-hidden{
    display: none;
}

.show-todo-list{
    z-index: 1;
    background-color: white;
}

.edit-private-todo-list{
    border: 1px black solid !important;
}

.overflow-hiddenX-scrollHidden{
    overflow: scroll;
    overflow-x: hidden;
}
.overflow-hiddenX-scrollHidden::-webkit-scrollbar{
    display: none;
}

.extra-padding{
    padding: 0.6rem;
}